[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-currencyconverter
Exec=harbour-currencyconverter
Name=Currency Converter
Name[da]=Valutaomregner
