[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Currency Converter
Icon=net.tanghus.currencyconverter.sailfish
Exec=net.tanghus.currencyconverter.sailfish
